


<%# # :name, :describe, :photo , :price %>

<div class="treat-master-container">

    <% @all_cookies.each do |cookie|%>

    <div class="treat-card">

        <img src="<%= cookie.photo %>" height="300" width="300">

        <h2 class="large"> <%= cookie.name %> </h2>

        <p class = "small"> <%= cookie.describe %> </p>
        <p class = 'xsmall'><strong><%= cookie.price %></strong></p>
    </div>
    <% end %>
</div>





    
